* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  /* font-weight: 400; */
  /* font-style: normal; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #fdfdfd;
}
.dark body {
  background-color: #000;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #000;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  margin: auto;  
  animation: rotation 1s linear infinite;
}
.dark .home_article .MuiButtonBase-root {
  color: #fff;
}
.dark .css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #fff;
  color: #000;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 5px;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #fff;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.dark #category-select-label,
.dark .MuiInputBase-input {
  color: #fff !important;
}
.MuiSelect-select,
.MuiInputBase-input {
  height: 10px !important;
}
.body-content li:first-child {
  list-style-type: disc !important;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
/* body {
  font-family: sans-serif;
  transition: background-color 0.3s, color 0.3s;
} */

.dark {
  background-color: #000;
  color: #fff;
}

/* Header */
.sticky-nav {
  animation: sticky-nav 300ms;
}

@keyframes sticky-nav {
  0% {
    transform: translateY(-10em);
  }

  100% {
    transform: translateY(0);
  }
}
